<div class="center" id="<%= dom_id tweet %>">
  
<div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title"><i class="fa-solid fa-user fa-xl"></i> <%= tweet.username.capitalize %></h5>
    <p class="card-text"><%= tweet.description %></p>
  </div>
</div>



</div>
